<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org/">
    <head th:replace="fragments :: head"></head>

    <body>

        <div th:replace="fragments :: page-header"></div>

        <div class="container body-content">
            <h1 th:text="${#strings.capitalizeWords(title)}"></h1>
            <h2 class = "centered">View Jobs By Category</h2>
        </div>

        <table class="centeredTable">
            <tr>
                <th:block th:each="column : ${columns}">
                    <th th:text = "${column.value}"></th>
                </th:block>
            </tr>
            <tr>
                <!-- TODO #2: Complete the View Jobs By Category Table. -->

                <td>

                    <a th:href="@{/list/jobs(column='all',value='')}"> View All</a>

                </td> <!-- Feel free to remove or modify this element if necessary. -->
                <!--tableChoices is a Hashmap from the JobData class where the keys are positionType, employer, skill,
                and location while the values are ArrayLists of Employer, Location, CoreCompetency, or PositionType objects -->
                <td th:each="category : ${tableChoices}"> <!-- category is a variable that contains one key/value pair from tableChoices -->
                    <ul>
                        <li th:each="item : ${category.value}"> <!-- item is a variable that contains a single entry from the ArrayList-->
                            <a th:href="@{/list/jobs(column=${category.key},value=${item})}" th:text="${item}"></a>
                            <!-- ${category.key} is positionType, employer, skill, and location
                            ${item} is a particular element found in the corresponding ArrayList -->
                        </li>
                    </ul>
                </td>
            </tr>
        </table>

    </body>
</html>