<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head">
</head>
<body>

<div th:replace="fragments :: page-header"></div>

<div class="container body-content">

    <h1 th:text="${#strings.capitalizeWords(title)}"></h1>

    <form th:action="@{/search/results}" method = "post">
        <h2>Search by:</h2>

        <p>
            <span th:each="column : ${columns}">
                <input
                        type="radio"
                        name="searchType"
                        th:id="${column.key}"
                        th:value="${column.key}"
                        th:checked="${column.key == 'all'}"/>
                <label th:for="${column.key}" th:text="${column.value}"></label>
            </span>

        </p>

        <p>
            <label for="searchTerm">Keyword:</label>
            <input type="text" name="searchTerm" id="searchTerm" /> <!-- searchType is the first parameter
             and searchTerm is the second parameter -->
        </p>

        <input type="submit" value="Search" />
    </form>

    <hr />

    <!-- TODO #4 - Loop over the search results to display all job fields. -->

    <table class="job-listing"> <!-- CSS class I think? -->
        <tr th:each="variable : ${jobs}">
            <td><p th:text="'ID: ' + ${variable.id}"></p>
                <p th:text="'Name: ' + ${variable.name}"></p>
                <p th:text="'Employer: ' + ${variable.employer}"></p>
                <p th:text="'Location: ' + ${variable.location}"></p>
                <p th:text="'Position: ' + ${variable.positionType}"></p>
                <p th:text="'Skill: ' + ${variable.coreCompetency}"></p>
            </td>
        </tr>

</div>

</body>
</html>